body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

ul li {
    font-size: 18px;
    list-style: none;
    padding: 5px;
}

header {
    background-image: linear-gradient(90deg, rgb(47, 47, 255),rgb(0, 58, 109));
    color: white;
    padding: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin: 20px;
    border-radius: 20px;
}

header h1 {
    font-size: 56px;
}

.card button {
    background-image: linear-gradient(90deg, rgb(47, 47, 255),rgb(0, 58, 109) 200%);
    color:white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    font-size: 24px;
}

.card button:hover {
    color:white;
}

.btn-recent {
    background-color: rgb(197, 197, 197);
    font-size: 24px;
}

#current-weather {
    border-radius: 10px;
    border: black solid 1px;
    padding:20px;
    margin-right: 20px;
}

#current-weather .city-header-div {
    background-image: linear-gradient(90deg, rgb(47, 47, 255),rgb(0, 58, 109));
    padding: 5px 15px;
    border-radius: 5px;
    color: white;

}

#current-weather h2 {
    font-size: 36px;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#current-weather ul li {
    font-size: 24px;
}

#current-weather ul li span{
    padding: 0 10px;
    border-radius: 5px;
}

#five-day article {
    background-image: linear-gradient(90deg, rgb(47, 47, 255),rgb(0, 58, 109) 200%);
    color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

#five-day article h4 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

#five-day article li {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 575px) {
    .five-day {
        width: 100%;
    }
}